<div class="center jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
    <p><a class="btn btn-lg btn-primary" ng-href="/signup">Sign up now!</a></p>
  </p>
</div>

<a href="http://www.chrisjyyoon.com" target="_blank"><img src="images/logo_clipped_rev_4.png" alt="Chris Yoon"></img></a>
<a href="http://railstutorial.org/" target="_blank"><img src="images/rails.png" alt="Rails"></img></a>
<a href="https://angularjs.org/" target="_blank"><img src="images/angularjs.png" alt="AngularJS" style="height: 110px;"></img></a>